In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('spotify_millsongdata.csv')

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df = df.drop('link',axis = 1).reset_index(drop = True)

In [8]:
df.head(10)

,artist,song,text
0,ABBA,Ahe's My Kind Of Girl,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante","Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,Making somebody happy is a question of give an...
5,ABBA,Burning My Bridges,"Well, you hoot and you holler and you make me ..."
6,ABBA,Cassandra,Down in the street they're all singing and sho...
7,ABBA,Chiquitita,"Chiquitita, tell me what's wrong \r\nYou're e..."
8,ABBA,Crazy World,I was out with the morning sun \r\nCouldn't s...
9,ABBA,Crying Over You,I'm waitin' for you baby \r\nI'm sitting all ...

In [9]:
df['text'][0]

"Look at her face, it's a wonderful face  \r\nAnd it means something special to me  \r\nLook at the way that she smiles when she sees me  \r\nHow lucky can one fellow be?  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?  \r\n  \r\nAnd when we go for a walk in the park  \r\nAnd she holds me and squeezes my hand  \r\nWe'll go on walking for hours and talking  \r\nAbout all the things that we plan  \r\n  \r\nShe's just my kind of girl, she makes me feel fine  \r\nWho could ever believe that she could be mine?  \r\nShe's just my kind of girl, without her I'm blue  \r\nAnd if she ever leaves me what could I do, what could I do?\r\n\r\n"

In [10]:
df.sample(5000)

,artist,song,text
32473,Fall Out Boy,I Write Sins Not Tragedies,[Originally By Panic At! The Disco] \r\n \r\...
17053,Randy Travis,Our King,About a thousand years before it came to pass ...
45849,Nina Simone,Falling In Love Again,Falling in love again I never wanted to \r\nW...
41824,Lionel Richie,Love Will Find A Way,"Are you feeling down, and lonely. \r\nFeeling..."
40116,Kenny Rogers,Reuben James,"Ruben James, in my song you live again \r\nAn..."
...,...,...,...
12233,Luther Vandross,My Sensitivity (Gets In The Way),At times I don't believe that I can't control ...
22618,Zoegirl,You Get Me,V1 Wonderful is what i perceived \r\nthis lif...
2500,Cheap Trick,Who D'king,Don't call me baby \r\nDon't call me your ins...
53591,Tom Waits,Last Leaf,I'm the last leaf on the tree \r\nThe autumn ...
23481,Alice In Chains,Alone,It's been a long day at the bottom of the hill...

In [11]:
df = df.sample(5000)

In [12]:
df.shape

(5000, 3)

## Text Cleaning/ Preprocessing

In [13]:
df['text'] = df['text'].str.lower().replace(r'^\w\s',' ').replace(r'\n',' ',regex = True)

In [14]:
# Tokenization, Vectorization, Cosine Similarity. Content - Based System(Tag Based)

In [15]:
df

,artist,song,text
45832,Nina Simone,Blue Prelude,"let me sigh, let me cry when i'm blue, \r let..."
51585,Selena Gomez,Write Your Name,"take my arm, take my head \r make your mark l..."
14021,Nick Drake,River Man,betty came by on her way \r said she had a wo...
6376,Frank Sinatra,Don't Wait Too Long,you are the summer and i am the autumn \r don...
22442,Zebrahead,Postcards From Hell,i didn't see the signs posted on the road \r ...
...,...,...,...
28692,Dave Matthews Band,Baby Blue,"confess, your kiss still knocks me off my legs..."
53562,Tom T. Hall,Way We Were,memories light the corners of my mind \r mist...
31634,Enrique Iglesias,Don't You Forget About Me,they say love is just a game \r they say time...
37317,J Cole,Miss America,this is a public service announcement \r brou...
5120,Emmylou Harris,If I Could Be There,if i could be there i'd be there tonight comfo...

In [20]:
import nltk
nltk.download('punkt')
from nltk.stem.porter import PorterStemmer

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\MITALI\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [21]:
stemmer = PorterStemmer()

In [22]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [24]:
token("you are beautiful, beauty")

'you are beauti , beauti'

In [26]:
df['text'].apply(lambda x:token(x))

45832    let me sigh , let me cri when i 'm blue , let ...
51585    take my arm , take my head make your mark like...
14021    betti came by on her way said she had a word t...
6376     you are the summer and i am the autumn do n't ...
22442    i did n't see the sign post on the road dead e...
                               ...
28692    confess , your kiss still knock me off my leg ...
53562    memori light the corner of my mind misti water...
31634    they say love is just a game they say time can...
37317    thi is a public servic announc brought to you ...
5120     if i could be there i 'd be there tonight comf...
Name: text, Length: 5000, dtype: object

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity